.chat-bubble {
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.recipient {
  margin-left: auto;
  background: #bb0b34;
}

.sender {
  margin-right: auto;
  background: #1b6ec2;
}

.encrypted {
  border: #ff8787 dashed 2px;
}
