<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" (click)="Home()">EncrypChat</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" >
        <ul class="navbar-nav flex-grow">
          <li *ngIf="isAuthenticated$ | async" >
            Logged in: {{ displayName$ | async }}
          </li>
          <li>
            <button *ngIf="!(isAuthenticated$ | async)"  mat-raised-button (click)="SignUp()">Sign Up</button>
          </li>
          <li>
            <button *ngIf="!(isAuthenticated$ | async)" mat-raised-button (click)="SignIn()">Sign In</button>
          </li>
          <li>
            <button *ngIf="isAuthenticated$ | async" mat-raised-button (click)="Settings()">Settings</button>
          </li>
          <li>
            <button *ngIf="isAuthenticated$ | async" mat-raised-button (click)="SignOut()">Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
