<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">EncrypChat</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" >
        <ul class="navbar-nav flex-grow">
          <li>
            <button mat-raised-button [routerLink]="['/signup']">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
