<div>
    <form [formGroup]="userSettingsForm">
      <mat-form-field>
        <input matInput placeholder="Display Name" formControlName="displayName"/>
        <mat-error *ngIf="hasError('displayName', 'minlength')">Too few symbols</mat-error>
        <mat-error *ngIf="hasError('displayName', 'maxlength')">Too many symbols</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <textarea matInput placeholder="Public GPG Key" formControlName="publicGPGKey"></textarea>
        </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary" (click)="onSignUp()">Update Settings</button>
      </div>
    </form>
</div>
